@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181824;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-1 {
  @apply bg-gradient-to-l from-blue-600 to-purple-700;
}

.separator {
  @apply my-5 w-full text-slate-200 text-center relative before:absolute before:left-0 before:bg-indigo-500 before:top-1/2 before:w-[40%] before:h-[1px] after:absolute after:bg-indigo-500 after:top-1/2 after:w-[40%] after:h-[1px] after:right-0;
}